@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

/* body {
  color: white;
  background: #546a7b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  animation-name: fade;
  animation-duration: 2s;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
} */
body {
  color: white;
  background: #546a7b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* position:fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  animation-name: fade;
  animation-duration: 1.5s;
}
body {
  color: white;
  background: #546a7b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin: 0;
  z-index: 2;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.go-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  color: white;
  background-color: #62929e;
  border: none;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 1rem;
}
button:hover {
  color: #62929e;
  background-color: white;
}
